@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

html{
    background-color: white;
}

body{
    margin: auto;
    font-family: "Habibi", sans-serif;
    min-width: 428px;
}

header{
    background-color: #06A816;
    padding: 10px;
    color: #ffffff;
    display: flex;
}
#header-content{
    width: 50%;
}
nav{
    width: 50%;
}
nav ul{
    list-style-type: none;
    width: 95%;
    display: flex;
}
nav li{
    display: inline-block;
    background-color: #E75D02;
    padding: 10px;
    width: 45%;
    border: 2px solid #ffffff;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: white;
}
nav li:last-child{
    position: fixed;
    bottom: 15px;
    right:10px;
    width:fit-content;

}
header p {
    margin: 10px 0;
    font-style: italic;
}
main{
    width: 95%;
    margin: auto;
}

h1, h2, h3 {
    font-family: "Irish Grover", sans-serif;
}
h1{
    font-size: 2.5em;
    margin: 0;
    text-shadow: 2px 2px 2px #000000;
}
h2{
    font-size: 1.75em;
}
h3, p {
    font-size: 1.25em;
   
}
h3{
    text-align: center;
}

p, figcaption{
    font-family: "Habibi", sans-serif;
}
.food-pics{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    justify-content: center;
    align-items: center;

}
figure {
    position: relative;
    width: 100%;
    margin: 0;

}
img {
    display: block;
    width:75%;
    margin: auto;
} 
figcaption{
    width: 30%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 15px 10px;
    color: #FFFFFF;
    background-color: rgba(0,0,0, 0.8);
    font-size: 1.5em;
    display:flex;
    justify-content: center;
    align-items: center;

} 


@media only screen and (min-width: 834px){
    .food-pics{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 1280px){
    .food-pics{
        grid-template-columns: repeat(3, 1fr);
    }
   
    nav li{
        width: 45%;
    }

}


@media only screen and (min-width: 1440px){

    .food-pics{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    nav ul{
        justify-content: space-around;
    }
    nav li{
        width: 40%;
    }
}
