@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

html{
    background-color: white;
}

body{
    margin: auto;
    font-family: "Habibi", sans-serif;
    min-width: 428px;
    max-width: 833px;
    background-color: papayawhip;
}
h1, h2, h3 {
    font-family: "Irish Grover", sans-serif;
}
h1{
    font-size: 2.5em;
    padding: 10px;
    margin-top: 0;
}
h2{
    font-size: 1.75em;
}
h3, p{
    font-size: 1.25em;
    text-align: center;
}
p, figcaption{
    font-family: "Habibi", sans-serif;
}
.food-pics{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;

}
figure {
    position: relative;
    width: fit-content;
    margin: auto;

}
img {
    display: block;
    max-width: 100%;
} 
figcaption{
    width: 45%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 15px 10px;
    color: #FFFFFF;
    background-color: rgba(0,0,0, 0.8);



} 
