@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

body{
    font-family: "Habibi", sans-serif;
    max-width: 428px;
}
h1, h2, h3 {
    font-family: "Irish Grover", sans-serif;
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 1.75em;
}
h3, p{
    font-size: 1.25em;
}
